.App {
  margin: 0 auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.counter-button {
  border: 3px solid green;
  background-color: white;
  color: green;
  font-size: 18px;
  padding: 3px 10px;
  margin: 0px 3px;
}

.header {
  color: green;
}

.character-button {
  border: 3px solid green;
  background-color: white;
  color: green;
  font-size: 18px;
  padding: 3px 10px;
  margin: 0px 3px;
}

.character-list-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.character-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid purple;
  padding: 10px;
  margin: 5px;

}